@import '../../styles/Variables.scss';

.input-container {
  display: flex;
  flex-direction: column;

  &.has-error {
    input {
      border: 1px solid $red_danger;
    }
  }

  label {
    padding-bottom: 0.5rem;

    span {
      color: $red_danger;
    }
  }

  input {
    border: 1px solid #ababab;
    padding: 0.8rem;
    border-radius: 3px;
    outline: none;
  }

  .error-message {
      color: $red_danger;
      font-size: 14px;
      padding: .5rem 0;
  }
}
