.button {
    border: none;
    padding: .5rem 1rem;
    background-color: #3570B2;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    transition: 200ms;
    font-size: 15px;

    &:hover {
        background-color: #4e89cc;
    }
}