.info-content {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d5d5d5;

  .doc-info {
    width: 50%;

    .info-header {
      font-weight: 700;
    }
  }

  .data-info {
    padding-top: 0.5rem;

    .inline-info {
      padding-left: 1.5rem;
    }

    p {
      padding-top: 1rem;
    }
  }
}

.trash-icon {
  color: #3570b2;
  cursor: pointer;
}

.footer {
  padding-top: 1rem;

  strong {
    font-weight: 700;
  }
}
