@import '../../styles/Variables.scss';

.info-content {
  display: flex;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d5d5d5;

  .doc-info {
    width: 50%;

    .info-header {
      font-weight: 700;
    }
  }

  .data-info {
    padding-top: 0.5rem;

    .inline-info {
      padding-left: 1.5rem;
    }

    p {
      padding-top: 1rem;
    }
  }
}

.modal-header-title {
  font-weight: 700;
  font-size: 18px;
}

.delete-modal-content {
  .delete-modal-text {
    padding: .5rem 1.5rem 2rem 1.5rem;
  }
  .modal-buttons-footer {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: row;
    padding: 1rem 1.5rem;

    .modal-button-cancel{
      margin-left: auto;
    }

    .modal-button-delete {
      padding-left: 1.5rem;
    }
  }

  &.loading {
    opacity: .2;
  }
}

.custom-loading {
  position: absolute;
  left: 50%;
  z-index: 2;
}

.trash-icon {
  color: $blue_primary;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    color: $blue_primary_hover;
  }
}

.footer {
  padding-top: 1rem;

  strong {
    font-weight: 700;
  }
}
