@import '../../styles/Variables.scss';

.feedback-message-content {
  animation: slideFromTop 650ms forwards ease-in-out;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  background-color: $green_success;
  color: #fff;
  margin-top: 0.5rem;
}

.message-icon {
  font-size: 18px;
}

.feedback-message {
  padding-left: 1rem;
}

.feedback-close-icon {
  margin-left: auto;
  font-size: 18px;
  cursor: pointer;
}

@keyframes slideFromTop {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 5vh;
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .feedback-message-content {
    width: 80%;
  }
}

@media (min-width: 801px) {
  .feedback-message-content {
    width: 30%;
  }
}
