.input-space {
    padding: .5rem 0;
}

.document-name {
    padding-bottom: .5rem;
}

.registry-form {
    .registry-title {
        padding: 1rem 0 2rem 0;
        font-weight: 700;
        font-size: 17px;
    }
}