.header {
  background-image: url('../../assets/header-background.svg');
  padding: 0.5rem 2rem;
}

.main {
  .request-header {
    font-weight: 700;
    font-size: 24px;
    padding: 1rem 0 2rem 0;
  }

  .request-documents {
    display: flex;


    .list {
      .title {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 800px) {
  .main {
    padding: 0.5rem 0.5rem;
  }
  .request-documents {
    flex-direction: column;
    .form {
      padding-top: 1.5rem;
      width: 100%;
    }

    .list {
      padding-top: 1.5rem;
      width: 100%;
    }
  }
}

@media (min-width: 801px) {
  .main {
    padding: 1rem 2rem;
  }
  .request-documents {
    flex-direction: row;
    .form {
      padding: 1.5rem 0.5rem 0 0;
      width: 40%;
    }

    .list {
      padding: 1.5rem 0 0 0.5rem;
      width: 60%;
    }
  }
}
