.input-line {
  display: flex;
}

@media (max-width: 800px) {
  .input-line {
      flex-direction: column;
    .first-input {
      width: 100%;
    }

    .second-input {
      width: 100%;
    }
  }
}

@media (min-width: 801px) {
  .input-line {
    align-items: center;
    width: 100%;

    .first-input {
      width: 60%;
      padding-right: 0.5rem;
    }

    .second-input {
      padding-left: 0.5rem;
      width: 40%;
    }
  }
}
